{
    "presets": [
        [
            "@babel/preset-react",
            {
                "typescript": true
            }
        ],
        "@babel/preset-env",
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ]
}